/* animacja działa tylko po odświeżeniu strony. mentorka mówi że to musi być inny sposób wewnątrz app.js
  @keyframes switch_animation {
  from {transform: translateY(+200px);}
  to {transform: translateY(0);}
}*/

.switchWrapper {
  position: relative;
  /*animation-name: switch_animation;
  animation-duration: 1s;*/

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}